<h3>Product Details</h3>
<p>
  Product-details works!
  Two field. Both mandatory.
  validate product name for uniqueness
</p>

<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="productsForm">
  <mat-form-field class="input-default" fxFlex>
    <mat-select placeholder="Product Category" formControlName="category_id" required>
      <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="input-default" fxFlex>
    <input matInput formControlName="product" placeholder="Product Name" required>
  </mat-form-field>
</form>

<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button class="btn action-button" (click)="saveProduct()" [disabled]="productsForm.invalid">Save</button>
  <button mat-raised-button class="btn action-button" (click)="cancel()">Cancel</button>
</div>