@import "../../../styles/inputs.scss";
@import "../../../styles/buttons.scss";

.mat-dialog-container {
    width: 450px;
}

.error-message {
    color: #CB001D;
    font-size: 14px;
    margin-top: -10px;
}
