<h3 class="header-text">Product Details</h3>

<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="productsForm">
  <mat-form-field class="input-default" fxFlex>
    <mat-select placeholder="Product Category" formControlName="category_id" >
      <mat-option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </mat-option>
    </mat-select>
    <mat-error *ngIf="productsForm.get('category_id').hasError('required')">{{getCategoryErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="input-default" fxFlex>
    <input matInput formControlName="product" placeholder="Product Name">
    <mat-error *ngIf="productsForm.get('product').hasError('required')">{{getProductErrorMessage()}}</mat-error>
  </mat-form-field>
</form>
<p class="error-message" *ngIf="duplicateProduct">Product name already exists</p>

<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button class="btn action-button" (click)="saveProduct()" [disabled]="productsForm.invalid">Save</button>
  <button mat-raised-button class="btn action-button" (click)="cancel()">Cancel</button>
</div>