<div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button class="btn action-button" (click)="addProducts()">Add Product</button>
  </div>
  <div class="list-container">

    <mat-table [dataSource]="products" class="mat-elevation-z8">
      <!-- Product Name -->
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef class="mat-header-text">Product Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="categoryName">
        <mat-header-cell *matHeaderCellDef class="mat-header-text">Category Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="mat-header-text actions-column">Actions</mat-header-cell>
        <mat-cell *matCellDef="let element; let i=index;" class="actions-column">
          <button mat-icon-button color="accent" (click)="editProduct(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="deleteProduct(element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>