.action-button {
  margin: 8px 0 8px 8px;
  min-width: 88px;
  color: #ffffff;
  background-color: #3f51b5;
  opacity: 0.9;
  font-family: "Segoe UI";
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  &:disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
  }
  .mat-ripple-element {
    background-color: #000000;
    opacity: 0.26;
  }
  &:not(:disabled):hover .mat-button-focus-overlay {
    background-color: #000000;
    opacity: 0.12;
  }
}

.list-container {
    padding-top: 8px;
}
