<h1>Product Details</h1>
<p>
  Product-details works!
  Two field. Both mandatory.
  validate product name for uniqueness
</p>

<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="productsForm">
  <mat-form-field class="input-default" fxFlex>
    <mat-select placeholder="Product Category" formControlName="category">
      <mat-option></mat-option>
      <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option> -->
    </mat-select>
  </mat-form-field>
  <mat-form-field class="input-default" fxFlex>
    <input matInput formControlName="product" placeholder="Product Name" value="Sushi">
  </mat-form-field>
</form>

<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button class="action-button" (click)="saveCategory()" [disabled]="!isBackOfficeButttonEnabled">Save</button>
  <button mat-raised-button class="action-button" (click)="cancel()">Cancel</button>
</div>