@import 'theme-defaults.scss';
%button-padding {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}

::ng-deep body .btn, // support for in-popup buttons
:host ::ng-deep body .btn {
    text-transform: uppercase;
    min-width: 88px;
    @extend %button-padding;
    &:first-of-type {
        margin-left: 0px;
    }
    &:last-of-type {
        margin-right: 0px;
    }
    &.action-button {
        color: #ffffff;
        background-color: $secondary-color;
        box-shadow: none;
        .mat-ripple-element {
            background-color: #000000;
            opacity: 0.26;
        }
        &:not(:disabled):hover .mat-button-focus-overlay {
            background-color: #000000;
            opacity: 0.12;
        }
        &:disabled {
            color: rgba(0, 0, 0, 0.26);
            background-color: rgba(0, 0, 0, 0.12)
        }
    }
    &.key-action-button {
        color: #ffffff;
        background-color: $primary-color;
        &:disabled {
            color: rgba(0, 0, 0, 0.26);
            background-color: rgba(0, 0, 0, 0.12)
        }
        .mat-ripple-element {
            background-color: #000000;
            opacity: 0.26;
        }
        &:not(:disabled):hover .mat-button-focus-overlay {
            background-color: #000000;
            opacity: 0.12;
        }
    }
    &.exit-button {
        color: #46B4C1;
        &:disabled {
            color: rgba(0, 0, 0, 0.26);
            background-color: #ffffff
        }
        .mat-ripple-element {
            background-color: #46B4C1;
            opacity: 0.26;
        }
        &:not(:disabled):hover .mat-button-focus-overlay {
            background-color: #46B4C1;
            opacity: 0.12;
        }
    }
}