$primary-color: #722B90;
$secondary-color: #46B4C1;
$disabled-color: #000000;
$site-content-text-color: rgba(#000000, 0.87);
$disabled-opacity: 0.26;
$placeholder-color: #D8D8D8;
$help-text-color: #666666;
$input-value-color: #333333;
$standard-label-color: #999999;
$error-color: #CB001D;
$main-font-family: 'Segoe UI';
$primary-background-color:#eeeeee;
$app-max-width: 1366px;
$app-min-width: 320px;
$success-color: #8BC34A;
$remove-button-color:#CB001D;

$app-content-min-height: 800px;
$app-content-min-width: 768px;
$container-padding: 32px;
