@import "../styles/inputs.scss";
@import "../styles/buttons.scss";

.header-text {
  color: white;
  float: left;
  font-size: 20px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
