@import "../styles/inputs.scss";
@import "../styles/buttons.scss";

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.toolbar-button {
  min-width: 88px;
  color: #ffffff;
  opacity: 0.9;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  &:active {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
  }
  &:focus {
    color:$secondary-color;
    background-color:white;
  }
}
