<mat-toolbar class="toolbar">
  <div fxLayout="row" fxFlex="100">
    <div fxFlex="30">
      <h1 class="mat-subheading-1">
        {{ title }}
      </h1>
    </div>
    <div fxFlex="70" fxLayout="row" fxLayoutAlign="end center">
      <a mat-button routerLink="/products" class="mat-subheading-2 toolbar-button">PRODUCTS</a>
      <a mat-button routerLink="/categories" class="mat-subheading-2 toolbar-button">CATEGORIES</a>
      <a mat-button routerLink="/report" class="mat-subheading-2 toolbar-button">REPORT</a>
    </div>
  </div>
</mat-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>