.product-list-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.action-button {
    padding: 8px 16px;
    margin: 6px 8px;
    min-width: 88px;
    text-transform: uppercase;    
    color: #ffffff;
    background-color: #722B90;
    font-family: "Segoe UI";
    /*background-color: #4CAF50;  Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
        /*&:disabled {
            color: rgba(0, 0, 0, 0.26);
            background-color: rgba(0, 0, 0, 0.12)
        }
        .mat-ripple-element {
            background-color: #000000;
            opacity: 0.26;
        }
        &:not(:disabled):hover .mat-button-focus-overlay {
            background-color: #000000;
            opacity: 0.12;
        } */
}
