 <h1>Category Details</h1>
 <p>
   category-details works!
   Single input for category name.
   validate for uniquness and null
 </p>

 <form fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field class="input-default" fxFlex>
      <input matInput placeholder="Category Name" value="Sushi">
    </mat-form-field>
  </form>

 <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button class="action-button" (click)="saveCategory()" [disabled]="!isBackOfficeButttonEnabled">Save</button>
    <button mat-raised-button class="action-button" (click)="cancel()">Cancel</button>
  </div>
