/* You can add global styles to this file, and also import other style files */
@import 'styles/theme-defaults.scss';

html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Segoe UI", "Roboto", sans-serif;
}

textarea {
  font-family: "Segoe UI", "Roboto", sans-serif;
}

